---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: recommendationservice-{{ .Values.EnvironmentID }}
spec:
  selector:
    matchLabels:
      app: recommendationservice-{{ .Values.EnvironmentID }}
  template:
    metadata:
      labels:
        app: recommendationservice-{{ .Values.EnvironmentID }}
    spec:
      serviceAccountName: default
      terminationGracePeriodSeconds: 6
      securityContext:
        fsGroup: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        runAsUser: 1000
      containers:
      - name: server
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          privileged: false
          readOnlyRootFilesystem: true
        image: gcr.io/google-samples/microservices-demo/recommendationservice:v0.8.0
        ports:
        - containerPort: 8080
        readinessProbe:
          periodSeconds: 5
          grpc:
            port: 8080
        livenessProbe:
          periodSeconds: 5
          grpc:
            port: 8080
        env:
        - name: PORT
          value: "8080"
        - name: PRODUCT_CATALOG_SERVICE_ADDR
          value: "productcatalogservice-{{ .Values.EnvironmentID }}:3550"
        - name: DISABLE_PROFILER
          value: "1"
        resources:
          requests:
            cpu: 100m
            memory: 220Mi
          limits:
            cpu: 200m
            memory: 450Mi
---
apiVersion: v1
kind: Service
metadata:
  name: recommendationservice-{{ .Values.EnvironmentID }}
spec:
  type: ClusterIP
  selector:
    app: recommendationservice-{{ .Values.EnvironmentID }}
  ports:
  - name: grpc
    port: 8080
    targetPort: 8080
